# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
.Python

# IDE
.vscode/
.idea/

# Environment variables
.env
*.env

# Database
*.db
*.sqlite3

# Logs
*.log
logs/

# Tests
.coverage
htmlcov/
.pytest_cache/

# Uploads
uploads/
media/

# Secrets
*.pem
*.key

future.txt
iot-platform-test.session.sql
iot.session.sql